---
# Configure secure default virtual hosts and enable support for SSL connections

- name: configure default SSL apache virtual host
  template: src=etc/apache2/sites-available/default-ssl.conf.j2 dest=/etc/apache2/sites-available/default-ssl.conf

- name: enable default SSL apache virtual host
  file: src=/etc/apache2/sites-available/default-ssl.conf dest=/etc/apache2/sites-enabled/default-ssl.conf state=link

- name: enable SSL module
  apache2_module: state=present name=ssl
  notify:
    - Restart Apache