---
# Configure and enable the default virtual host for non-secure connections

- name: configure default non-secure virtual host
  template: src=etc/apache2/sites-available/default-http-virtualhost.conf.j2 dest=/etc/apache2/sites-available/default.conf
  notify:
    - Restart Apache

- name: enable default non-secure virtual host
  file: src=/etc/apache2/sites-available/default.conf dest=/etc/apache2/sites-enabled/default.conf state=link
  notify:
    - Restart Apache
