# {{ ansible_managed }}

ServerTokens ProductOnly
{% if apache_enable_feature_use_canonical_name ==  true %}
UseCanonicalName on
{% endif %}

<VirtualHost {{ apache_server_binding }}:{%- block listen_port %}{% endblock %} >
    ServerName {{ apache_server_name }}
    ServerAdmin {{ apache_server_admin }}
    DocumentRoot {{ apache_document_root }}

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
    LogLevel warn

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory />
        Options +FollowSymLinks
        AllowOverride All
    </Directory>
    
{% if apache_document_root ==  '/var/www/' %}
        <Directory /var/www/>
{% for option in apache_document_root_options %}
        Options {{ option }}
{% endfor %}
        AllowOverride {{ apache_document_root_allowoverride }}
        Order allow,deny
        # Allow access to web content
        allow from all
        Require all granted
    </Directory>
{% else %}
    <Directory {{ apache_document_root }}>
{% for option in apache_document_root_options %}
        Options {{ option }}
{% endfor %}
        AllowOverride {{ apache_document_root_allowoverride }}
        Order allow,deny
        # Allow access to web content
        allow from all
        Require all granted
    </Directory>
{% endif %}


    {%- block additional_config %}{% endblock %}

    # Load any additional configuration files found in this directory
    Include {{ apache_enabled_configs_dir }}/{{ apache_enabled_configs_file_selector }}

</VirtualHost>
