# {{ ansible_managed }}

ServerTokens ProductOnly
UseCanonicalName {{ apache_server_use_canonical_name }}

<IfModule mod_ssl.c>
    <VirtualHost {{ apache_default_var_www_server_binding }}:{{ apache_default_var_www_server_https_port }}>
        ServerName {{ apache_default_var_www_server_name }}
        ServerAdmin {{ apache_default_var_www_server_admin }}
        DocumentRoot {{ apache_default_var_www_document_root }}
    {% if apache_default_var_www_document_root_alias !=  '' %}
        Alias /{{ apache_default_var_www_document_root_alias }} "{{ apache_default_var_www_document_root }}"
    {% endif %}

        # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
        LogLevel warn ssl:warn

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        <Directory />
            Options +FollowSymLinks
            AllowOverride All
        </Directory>
        
    {% if apache_default_var_www_document_root ==  '/var/www/' %}
            <Directory /var/www/>
    {% for option in apache_default_var_www_options %}
            Options {{ option }}
    {% endfor %}
            AllowOverride {{ apache_default_var_www_allowoverride }}
            Order allow,deny
            # Allow access to web content
            allow from all
            Require all granted
        </Directory>
    {% else %}
        <Directory {{ apache_default_var_www_document_root }}>
    {% for option in apache_default_var_www_options %}
            Options {{ option }}
    {% endfor %}
            AllowOverride {{ apache_default_var_www_allowoverride }}
            Order allow,deny
            # Allow access to web content
            allow from all
            Require all granted
        </Directory>
    {% endif %}

        # Enable SSL for this virtual host.
        SSLEngine on
        SSLCertificateFile      {{ apache_default_var_www_ssl_cert_path }}/{{ apache_default_var_www_ssl_cert_file }}
        SSLCertificateChainFile {{ apache_default_var_www_ssl_cert_chain_path }}/{{ apache_default_var_www_ssl_cert_chain_file }}
        SSLCertificateKeyFile   {{ apache_default_var_www_ssl_key_path }}/{{ apache_default_var_www_ssl_key_file }}

        # Apply SSL settings
        <FilesMatch "\.(cgi|shtml|phtml|php)$">
                SSLOptions +StdEnvVars
        </FilesMatch>
        <Directory /usr/lib/cgi-bin>
                SSLOptions +StdEnvVars
        </Directory>

        # Apache defaults

        Alias /doc/ "/usr/share/doc/"
        <Directory "/usr/share/doc/">
            Options Indexes MultiViews FollowSymLinks
            AllowOverride None
            Order deny,allow
            Deny from all
            Allow from 127.0.0.0/255.0.0.0 ::1/128
        </Directory>

        ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
        <Directory "/usr/lib/cgi-bin">
            AllowOverride None
            Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
            Order allow,deny
            Allow from all
        </Directory>

        # Additional configuration markers

        # Marker - Apache module configuration
    

        # Marker - Other custom configuration
    

    </VirtualHost>
</IfModule>